body {
    margin:0;
    padding:0;
    margin-top: 0;
    height: 100vh;
    background-image: linear-gradient(140deg,#FFE8AE 35%,#42D2FF);
    max-width: 415px;
}
h4 {
    text-align: center;
}
.mt-60 {
    margin-top: 130px;
}
.header{
    height: 60px;
    background-color: #FFE195;
    box-shadow: 0px 5px 4px rgb(0,0,0,0.25);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Roboto;
    line-height: 60px;
}
.footer{
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: rgb(255,255,255,0.8);
    font-size: 15px;
}

.color-1{
    background-color: rgb(124,121,255,0.9);
    border: rgb(124,121,255);
}
.color-2{
    background-color: rgb(71,234,87,0.9);
    border: rgb(71,234,87);
}
.color-3{
    background-color: rgb(255,166,84,0.9);
    border: rgb(255,166,84);
}
.color-4{
    background-color: rgb(255,55,55,0.9);
    border: rgb(255,55,55);
}


.input-name-group{
    margin-top: 20px;
    position: relative;
    margin-left: calc((100% - 300px)/2);
}
.input-name{
    display: inline;
    width: 300px;
    height: 60px;
    box-shadow: 0px 5px 4px rgb(0,0,0,0.25);
    margin-bottom: 25px;
    text-align: center;
    color: white;
    border-radius: 30px;
    margin-left: auto;
}
.input-name::placeholder{
    color: white;
}
.input-name:focus-visible{
    box-shadow: 7px 7px 10px rgb(102,255,255,0.8);
}

.score-input{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
}
.row-btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
.confirm-btn{
    display: flex;
    justify-content: center;
}
.score-input .btn{
    width: 45%;
    height: 50px;
}

.table-score{
    text-align: center;
}
.special-score{
    display: none;
}

.input-primary{
    background-color: #007bff;
    border-color: #007bff;
}
.input-success{
    background-color: #28a745;
    border-color: #28a745;
}
.input-success:focus{
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
}
.input-danger{
    background-color: #bd2130;
    border-color: #b21f2d;
}
.input-danger:focus{
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
}
.input-warning{
    background-color: #ffc107;
    border-color: #ffc107;
}
.input-warning:focus{
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%);
}


.input-type-choose{
    text-align: center;
}
/* css for checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .total-score-board{
      display: flex;
      justify-content: space-evenly;
  }
.total-score-board label{
    width: 20%;
}

/* tbody {
  display: block;
  height: 50px;
  overflow: auto;
} */
.section {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: calc(100% - 60px);
}
.section__item {
  scroll-snap-align: start;
  flex: 0 0 100%;
  height: 100%;
}